<?xml version="1.0"?>
<launch>

    <!-- Simulator Configuration -->
    <arg name="simulation_package" default="$(optenv SIMULATION_CONFIG_PACKAGE rbvogui_gazebo)"/>
    <arg name="config_package" default="$(optenv CONFIG_PACKAGE rbvogui_gazebo)"/>
    <arg name="sim_bringup_package" default="$(optenv SIM_BRINGUP_PACKAGE rbvogui_sim_bringup)"/>
    <arg name="world_package" default="$(optenv WORLD_PACKAGE rbvogui_gazebo)"/> <!-- unused -->
    <arg name="rviz_package" default="$(optenv RVIZ_PACKAGE rbvogui_gazebo)"/> <!-- unused -->
    <arg name="pad_package" default="$(optenv PAD_PACKAGE robotnik_pad)"/> <!-- unused -->
    
    <!-- Robot Configuration -->
    <arg name="robot_model" default="$(optenv ROBOT_MODEL rbvogui)"/>
    <arg name="robot_xacro" default="$(optenv ROBOT_XACRO rbvogui_std_ur5_rg2.urdf.xacro)"/>
    
    <!-- Arm Configuration -->
    <arg name="launch_arm" default="$(optenv ROBOT_HAS_ARM true)"/>
    <arg name="arm_manufacturer" default="$(optenv ROBOT_ARM_MANUFACTURER ur)"/>
    <arg name="arm_model" default="$(optenv ROBOT_ARM_MODEL ur5)"/>
    <arg name="moveit" default="true"/>
    
    <!-- Gripper Configuration -->
    <arg name="launch_gripper" default="$(optenv ROBOT_HAS_GRIPPER true)"/>
    <arg name="gripper_manufacturer" default="$(optenv ROBOT_GRIPPER_MANUFACTURER onrobot)"/>
    <arg name="gripper_model" default="$(optenv ROBOT_GRIPPER_MODEL rg2)"/>

    <!-- Launch the rbvogui with ur5 arm -->
    <include file="$(eval find(sim_bringup_package) + '/launch/rbvogui_complete.launch')">
        <arg name="simulation_package" value="$(arg simulation_package)"/>
        <arg name="config_package" value="$(arg config_package)"/>
            
        <arg name="robot_model" default="$(arg robot_model)"/>
        <arg name="robot_xacro" default="$(arg robot_xacro)"/>
        
        <arg name="launch_arm" default="$(arg launch_arm)"/>
        <arg name="arm_manufacturer" value="$(arg arm_manufacturer)"/>
        <arg name="arm_model" value="$(arg arm_model)"/>
    </include>
    
    <!-- Moveit! for manipulating arm -->
    <group ns="robot" if="$(arg moveit)">
    
    <include file="$(find rbvogui_ur5_rg2_moveit)/launch/demo.launch">
        <arg name="use_rviz" value="false"/>
    </include>
    
    <!-- Move rbvogui arm -->    
    <node pkg="rbvogui_gazebo" type="move_arm_joint_by_joint.py" name="rbvogui_moveit_home" output="screen"/>
    
    </group>

</launch>
