<?xml version="1.0"?>
<launch>
    
    <!-- Rviz Configuration -->
    <arg name="rviz_package" default="$(optenv RVIZ_PACKAGE test_rbvogui_common_bringup)"/>
    <arg name="output" default="screen" />
    <arg name="respawn" default="false" />
    
    <arg name="robot_name" default="$(optenv ROBOT_ID robot)"/>
    
    <!-- Specify rviz config file -->
    <arg name="rviz_config" default="default" />
    
    <arg name="rviz_config_file" default="parameters/tools/rviz/$(arg rviz_config).rviz"/>
    <arg name="rviz_config_path" default="$(eval find(rviz_package) + '/' + rviz_config_file)"/>
    
    <!-- RVIZ GUI -->
    <!-- The is gonna have its nodes/topics under a namespace with the same name. -->
    <group ns="$(arg robot_name)">
    	<node respawn="$(arg respawn)" name="$(anon rviz)" pkg="rviz" type="rviz" args="-d $(arg rviz_config_path)" output="$(arg output)" />
    </group>

</launch>
